<template>
    <div class="admin-container">
        <div class="admin-details">
            <div class="heading-container">
                <div class="heading-container-title">Admin Details</div>
            </div>
            <form class="admin-form">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name">
                </div>
            </div>
                <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Phone">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button submit-button" type="submit">Save</button>
                </div>
            </div>
            </form>
        </div>
        <div class="company-details">
            <div class="heading-container">
                <div class="heading-container-title">Company Details</div>
            </div>
            <form class="company-form">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name">
                </div>
            </div>
                <div class="field">
                <label class="label">Company Type</label>
                <div class="control">
                    <div class="select" >
                        <select>
                            <option></option>
      </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Phone">
                </div>
            </div>
            <div class="field">
                <label class="label">GST Number</label>
                <div class="control">
                    <input class="input" type="text" placeholder="GST Number">
                </div>
            </div>
            <div class="field">
                <label class="label">Working Hours</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Working Hours">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button submit-button" type="submit">Save</button>
                </div>
            </div>
            </form>
        </div>
        <div class="address-details">
            <div class="heading-container">
                <div class="heading-container-title">Address Details</div>
            </div>
            <form class="address-form">
            <div class="field">
                <label class="label">Address 1</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Address 1">
                </div>
            </div>
            <div class="field">
                <label class="label">Address 2</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Address 2">
                </div>
            </div>
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" type="text" placeholder="City">
                </div>
            </div>
            <div class="field">
                <label class="label">State</label>
                <div class="control">
                    <input class="input" type="text" placeholder="State">
                </div>
            </div>
            <div class="field">
                <label class="label">Zip Code</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Zip Code">
                </div>
            </div>
            <div class="field">
                <label class="label">Country</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Country">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button submit-button" type="submit">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
  data: function() {
    return {};
  },
  methods: {}
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.admin-container {
  .heading-container {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    margin-top: 1em;
    .heading-container-title {
      font-size: 1.3em;
    }
  }
  .select select {
    width: 100vw;
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
@media screen and (min-width: 768px) {
  .admin-form,
  .company-form,
  .address-form {
    width: 600px;
  }
}
</style>
