<template>

      <div class="column">
        <div class="buttons">
        <div>
          <a class="button" @click.stop="showQuickAddFormModal"><i class="material-icons">
add_circle_outline
</i>Quick Add</a>
        </div>
<div>
  <a class="button" @click.stop="showAddNewMemberFormModal">Add Member</a>
<a class="button" @click.stop="showAddLeadFormModal">Add Lead</a>
<a class="button" @click.stop="showAddStaffFormModal">Add Staff</a>
</div>
</div>
<add-lead-form/>
<quick-add-form/>
<add-new-member-form/>
<add-staff-form/>
      </div>
</template>

<script>
import AddLeadForm from "~/components/modals/addLeadForm";
import QuickAddForm from "~/components/modals/quickAddForm";
import AddNewMemberForm from "~/components/modals/addNewMemberForm";
import AddStaffForm from "~/components/modals/addStaffForm";
export default {
  components: {
    AddLeadForm,
    QuickAddForm,
    AddNewMemberForm,
    AddStaffForm
  },
  methods: {
    showAddLeadFormModal() {
      this.$modal.show("add-lead-form-modal");
    },
    showQuickAddFormModal() {
      this.$modal.show("quick-add-form-modal");
    },
    showAddNewMemberFormModal() {
      this.$modal.show("add-new-member-form-modal");
    },
    showAddStaffFormModal() {
      this.$modal.show("add-staff-form-modal");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/_variables.scss";
.column {
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  .button {
    color: white;
    border-radius: 10px;
    background-color: $lightOrange;
  }
}
@media screen and (max-width: 767px) {
  .column {
    display: flex;
    flex-direction: column;
    .buttons {
      div {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .buttons .button,
  i {
    font-size: 3vw;
  }
}
</style>
