<template>
    <div class="custom-fields-container">
        <div class="columns is-multiline">
            <div class="column is-half">
                <div class="card fields-card">
                    <div class="card-header fields-header">
                        <div class="header-title card-header-title">
                            <p>Lead Source</p>
                        </div>
                            <a @click.stop="addLeadSource" class="card-header-icon">
                                <span class="icon">
                                    <i class="material-icons">add_circle_outline</i>
                                </span>
                            </a>
                            <add-lead-source/>
                    </div>
                            <ul class="field-item-list" id="field-item-list-id">
                                <li v-for="field in leadSourceFields"  :key='field.id'>{{field.source}}
                                    <span>
                                        <a @click.stop="editLeadSource(field)"><i class="material-icons">edit</i></a>
                                        <a @click.stop="deleteLeadSource(field)"><i class="material-icons">delete</i></a>
                                    </span>
                                </li>
                                <edit-lead-source/>
                                <delete-lead-source/>
                            </ul>
                </div>
            </div>
            <div class="column is-half">
                <div class="card fields-card">
                    <div class="card-header fields-header">
                        <div class="header-title card-header-title">
                            <p>Membership Types</p>
                        </div>
                            <a @click.stop="addMembershipType" class="card-header-icon">
                                <span class="icon">
                                    <i class="material-icons">add_circle_outline</i>
                                </span>
                            </a>
                            <add-membership-type/>
                    </div>
                            <ul class="field-item-list" id="field-item-list-id">
                                <li v-for="field in membershipFields"  :key='field._id'>{{field.memberType}}
                                    <span>
                                        <a @click.stop="editMembershipType(field)"><i class="material-icons">edit</i></a>
                                        <a @click.stop="deleteMembershipType(field)"><i class="material-icons">delete</i></a>
                                    </span>
                                </li>
                                <edit-membership-type/>
                                <delete-membership-type/>
                            </ul>
                </div>
            </div>
            <div class="column is-half">
                <div class="card fields-card">
                    <div class="card-header fields-header">
                        <div class="header-title card-header-title">
                            <p>Fitness Goal Options</p>
                        </div>
                            <a @click.stop="addFitnessGoal" class="card-header-icon">
                                <span class="icon">
                                    <i class="material-icons">add_circle_outline</i>
                                </span>
                            </a>
                            <add-fitness-goal/>
                    </div>
                            <ul class="field-item-list" id="field-item-list-id">
                                <li v-for="field in fitnessFields"  :key='field._id'>{{field.goals}}
                                    <span>
                                        <a @click.stop="editFitnessGoal(field)"><i class="material-icons">edit</i></a>
                                        <a @click.stop="deleteFitnessGoal(field)"><i class="material-icons">delete</i></a>
                                    </span>
                                </li>
                                <edit-fitness-goal/>
                                <delete-fitness-goal/>
                            </ul>
                </div>
            </div>
            <div class="column is-half">
                <div class="card fields-card">
                    <div class="card-header fields-header">
                        <div class="header-title card-header-title">
                            <p>Staff Specialization</p>
                        </div>
                            <a @click.stop="addStaffSpecialization" class="card-header-icon">
                                <span class="icon">
                                    <i class="material-icons">add_circle_outline</i>
                                </span>
                            </a>
                            <add-staff-specialization/>
                    </div>
                            <ul class="field-item-list" id="field-item-list-id">
                                <li v-for="field in staffFields"  :key='field._id'>{{field.special}}
                                    <span>
                                        <a @click.stop="editStaffSpecialization(field)"><i class="material-icons">edit</i></a>
                                        <a @click.stop="deleteStaffSpecialization(field)"><i class="material-icons">delete</i></a>
                                    </span>
                                </li>
                                <edit-staff-specialization/>
                                <delete-staff-specialization/>
                            </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import AddLeadSource from '~/components/modals/addLeadSource';
import EditLeadSource from '~/components/modals/editLeadSource';
import DeleteLeadSource from '~/components/modals/deleteLeadSource';

import AddMembershipType from '~/components/modals/addMembershipType';
import EditMembershipType from '~/components/modals/editMembershipType';
import DeleteMembershipType from '~/components/modals/deleteMembershipType';

import AddFitnessGoal from '~/components/modals/addFitnessGoal';
import EditFitnessGoal from '~/components/modals/editFitnessGoal';
import DeleteFitnessGoal from '~/components/modals/deleteFitnessGoal';

import AddStaffSpecialization from '~/components/modals/addStaffSpecialization';
import EditStaffSpecialization from '~/components/modals/editStaffSpecialization';
import DeleteStaffSpecialization from '~/components/modals/deleteStaffSpecialization';
export default {
  components: {
    AddLeadSource,
    EditLeadSource,
    DeleteLeadSource,
    AddMembershipType,
    EditMembershipType,
    DeleteMembershipType,
    AddFitnessGoal,
    EditFitnessGoal,
    DeleteFitnessGoal,
    AddStaffSpecialization,
    EditStaffSpecialization,
    DeleteStaffSpecialization
  },
  data: function() {
    return {
      /* leadSourceFields: [], */
      /* membershipFields: [
        {
          title: 'Membership',
          value: 'membership'
        },
        {
          title: 'Classes',
          value: 'classes'
        },
        {
          title: 'Personal Training',
          value: 'personal-training'
        }
      ], */
      /* fitnessFields: [
        {
          title: 'Weight Loss',
          value: 'weight-loss'
        },
        {
          title: 'Weight Gain',
          value: 'weight-gain'
        }
      ], */
      /* staffFields: [
        {
          title: 'Aerobics',
          value: 'aerobics'
        },
        {
          title: 'Martial Arts',
          value: 'martial-arts'
        },
        {
          title: 'TRX',
          value: 'trx'
        },
        {
          title: 'Dance - Contemporary',
          value: 'dance-contemporary'
        }
      ] */
    };
  },
  async mounted() {
    try {
      const { data: leadsourceData } = await this.$axios.$get(
        '/api/leadsource'
      );
      const { data: membershipTypeData } = await this.$axios.$get(
        '/api/membershiptype'
      );
      const { data: fitnessGoalData } = await this.$axios.$get(
        '/api/fitnessgoal'
      );
      const { data: staffSpecData } = await this.$axios.$get(
        '/api/specialization'
      );
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      this.$store.commit('lead/setLeadSources', leadsourceData.leadsources);
      this.$store.commit(
        'member/setMembershipTypes',
        membershipTypeData.membershiptypes
      );
      this.$store.commit(
        'member/setFitnessGoals',
        fitnessGoalData.fitnessgoals
      );
      this.$store.commit('staff/setStaffSpecs', staffSpecData.specializations);
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    addLeadSource() {
      this.$modal.show('add-lead-source-modal');
    },
    editLeadSource(field) {
      this.$modal.show('edit-lead-source-modal', { leadSource: field });
    },
    deleteLeadSource(field) {
      this.$modal.show('delete-lead-source-modal', { leadSource: field });
    },
    addMembershipType() {
      this.$modal.show('add-membership-type-modal');
    },
    editMembershipType(field) {
      this.$modal.show('edit-membership-type-modal', { membershipType: field });
    },
    deleteMembershipType(field) {
      this.$modal.show('delete-membership-type-modal', {
        membershipType: field
      });
    },
    addFitnessGoal() {
      this.$modal.show('add-fitness-goal-modal');
    },
    editFitnessGoal(field) {
      this.$modal.show('edit-fitness-goal-modal', { fitnessGoal: field });
    },
    deleteFitnessGoal(field) {
      this.$modal.show('delete-fitness-goal-modal', { fitnessGoal: field });
    },
    addStaffSpecialization() {
      this.$modal.show('add-staff-specialization-modal');
    },
    editStaffSpecialization(field) {
      this.$modal.show('edit-staff-specialization-modal', {
        staffSpecialization: field
      });
    },
    deleteStaffSpecialization(field) {
      this.$modal.show('delete-staff-specialization-modal', {
        staffSpecialization: field
      });
    }
  },
  computed: {
    ...mapGetters({
      leadSourceFields: 'lead/getLeadSources',
      membershipFields: 'member/getMembershipTypes',
      fitnessFields: 'member/getFitnessGoals',
      staffFields: 'staff/getStaffSpecs'
    })
  }
};
</script>

<style scoped lang="scss">
.custom-fields-container {
  .fields-card {
    .fields-header {
      .header-title p {
        font-family: 'Proxima Nova Alt Bl Rg', Georgia, sans-serif;
        font-size: 1.3em;
      }
    }
    .field-item-list {
      height: 205px;
      overflow: auto;
      li {
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          border-bottom: 1px solid #efefef;
        }
        i.material-icons {
          font-size: 1em;
          color: #9ca4a6;
        }
        span a:first-child {
          margin-right: 1em;
        }
      }
    }
  }
}
#field-item-list-id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#field-item-list-id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}
#field-item-list-id::-webkit-scrollbar-track {
  background-color: white;
}
</style>
