<template>
  <div class="sidebar column is-2">
  
    <div class="navbar-brand logo">
  
      <nuxt-link to="/" class="navbar-item logo_title">
  
      Owlsquaad
  
      </nuxt-link>
  <a class="hamburger" @click="showNavMenu">
      <i class="material-icons">
dehaze
</i>
    </a>
    </div>
  
    <div class="nav-menu-parent" :class="{nav_menu_hide:navMenuHidden}">
  
      <div class="column nav-menu">
  
        <nuxt-link to="/dashboard" @click.native="showNavMenu"><i class="material-icons">
  
  dashboard
  
  </i><span>Dashboard</span></nuxt-link>
  
        <nuxt-link :to="{ name: 'dashboard-lead' }" @click.native="showNavMenu"><i class="material-icons">
  
  settings_applications
  
  </i><span>Lead Control</span></nuxt-link>
  
        <nuxt-link :to="{ name: 'dashboard-member' }" @click.native="showNavMenu"><i class="material-icons">
  
  people
  
  </i><span>Member Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-employee' }" @click.native="showNavMenu"><i class="material-icons">
person
</i><span>Employee Control</span></nuxt-link>
<nuxt-link :to="{ name: 'dashboard-attendance' }" @click.native="showNavMenu"><i class="material-icons">
today
</i><span>Attendance Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-package' }" @click.native="showNavMenu"><i class="material-icons">
date_range
</i><span>Package Control</span></nuxt-link>
         <nuxt-link :to="{ name: 'dashboard-discount' }" @click.native="showNavMenu"><i class="material-icons">
local_offer
</i><span>Discount Control</span></nuxt-link>
        <!-- <a href="#"><i class="material-icons">
attach_money
</i><span>Expense Control</span></a> -->
        <nuxt-link :to="{ name: 'dashboard-location' }" @click.native="showNavMenu"><i class="material-icons">
place
</i><span>Location Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-settings' }" @click.native="showNavMenu"><i class="material-icons">
settings
</i><span>Settings</span></nuxt-link>
        <a @click.prevent="logout"><i class="material-icons">
exit_to_app
</i><span>Logout</span></a>
  
      </div>
  
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isActive: true,
      navMenuHidden: true
    };
  },
  methods: {
    showNavMenu() {
      this.navMenuHidden = !this.navMenuHidden;
    },
    logout() {
      this.$store.dispatch('user/logout');
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.sidebar {
  padding: 0;
}
i.material-icons {
  margin-right: 0.4em;

  font-size: 0.9rem;

  color: #000107;
}
.nav-menu-parent .column {
  padding: 0;
}

.nav-menu a {
  padding: 0.3em 0.7em;
}
.logo {
  justify-content: space-between !important;
  .hamburger {
    margin-top: 0.5em;
    margin-right: 1em;
    .material-icons {
      color: white;
      font-size: 2em;
    }
  }
}
.navbar-brand {
  background-color: $lightOrange;

  justify-content: center;

  align-items: center;
}

.navbar-brand .logo_title {
  font-size: 1.3em;

  color: white;

  text-transform: uppercase;
  font-family: 'Magnel', serif;
}

.nav-menu-parent {
  height: 100%;

  padding-top: 1em;
  padding-bottom: 1em;

  background-color: $darkGrey;
}

.nav-menu {
  min-height: 100vh;
  max-height: 100vh;
  width: auto;

  display: flex;

  flex-direction: column;
}

.nav-menu a.nuxt-link-exact-active,
.nav-menu a:hover {
  background-color: #233342;
}

.nav-menu a.nuxt-link-exact-active i.material-icons {
  color: $lightOrange;
}

.nav-menu a.nuxt-link-exact-active span {
  color: #f8ffff;
}

.nav-menu a span {
  color: #8698a4;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 769px) {
  .nav-menu {
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
  }
  .hamburger {
    display: block;
  }

  .nav_menu_hide {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .navbar-brand .logo_title {
    margin: auto;
  }
}
</style>
