<template>
    <div class="columns">
        <div class="column is-4">
          <aside class="menu">
            <ul class="menu-list">
              <li><a :class="[ type === 'new' ? 'is-active' : '']" @click="type='new'">New</a></li>
              <li><a :class="[ type === 'open' ? 'is-active' : '']" @click="type='open'">Open</a></li>
              <li><a :class="[ type === 'closed' ? 'is-active' : '']" @click="type='closed'">Closed</a></li>
            </ul>
          </aside>
        </div>
        <div class="column is-8 lead-stage-container">
          <div class="">
            <div class="button-div">
              <a class="button" @click.stop="addLeadStageModal">Add New Lead Stage</a>
              <add-lead-stage/>
            </div>
            <ul class="stage-list" id="stage-list-id">
              <li v-for="stage in stagesFilter"  :key='stage.id'>{{stage.title}}
                                    <span>
                                        <a @click.stop="editLeadStage(stage)"><i class="material-icons">edit</i></a>
                                        <a @click.stop="deleteLeadStage(stage)"><i class="material-icons">delete</i></a>
                                    </span>
                                </li>
                                <edit-lead-stage/>
                                <delete-lead-stage/>
            </ul>
          </div>
        </div>
    </div>
</template>

<script>
import AddLeadStage from "~/components/modals/addLeadStage";
import EditLeadStage from "~/components/modals/editLeadStage";
import DeleteLeadStage from "~/components/modals/deleteLeadStage";
export default {
  components: {
    AddLeadStage,
    EditLeadStage,
    DeleteLeadStage
  },
  data: function() {
    return {
      type: "new",
      stages: [
        {
          title: "Lead Converted",
          type: "closed"
        },
        {
          title: "Lead Failure - Joined some other Gym",
          type: "closed"
        },
        {
          title: "Lead Failure - Rates are high",
          type: "closed"
        },
        {
          title: "Hot",
          type: "new"
        },
        {
          title: "Follow Up - Customer Requested a Callback",
          type: "open"
        },
        {
          title: "Follow Up - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        },
        {
          title: "Trial - Scheduled",
          type: "open"
        }
      ]
    };
  },
  methods: {
    addLeadStageModal() {
      this.$modal.show("add-lead-stage-modal");
    },
    editLeadStage(field) {
      this.$modal.show("edit-lead-stage-modal", { leadStage: field });
    },
    deleteLeadStage(field) {
      this.$modal.show("delete-lead-stage-modal", { leadStage: field });
    }
  },
  computed: {
    stagesFilter() {
      if (this.type === "new") {
        return this.stages.filter(el => el.type === "new");
      } else if (this.type === "open") {
        return this.stages.filter(el => el.type === "open");
      } else {
        return this.stages.filter(el => el.type === "closed");
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.menu a.is-active {
  background-color: $lightOrange !important;
}
.menu-list a:hover {
  color: white;
  background-color: $lightOrange !important;
}
.lead-stage-container {
  background-color: white;
}
.stage-list {
  height: 310px;
  overflow: auto;
  li {
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid #efefef;
    }
    i.material-icons {
      font-size: 1em;
      color: #9ca4a6;
    }
    span a:first-child {
      margin-right: 1em;
    }
    span {
      display: flex;
    }
  }
}
#stage-list-id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#stage-list-id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}
#stage-list-id::-webkit-scrollbar-track {
  background-color: white;
}
.button-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  .button {
    color: white;
    border-radius: 10px;
    background-color: $lightOrange;
  }
}
</style>
