<template>
<div class="rolePer-container">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="nav-panel">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select>
                                    <option disabled selected value="">Select Roles</option>
                                    <option v-for="role in roles"  :key='role.id'>{{role.name}}</option>
                                </select>
                        </div>
                    </div>
                </div>
                <a class="button" @click.prevent="showAddRole">Add Role</a>
                <add-role/>
            </div>
        </div>
        <div class="column is-12">
            <form>
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <div class="heading-title">Lead Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Create New Lead
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Leads List
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View All Leads List
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Delete a Lead
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Assign Leads to Others
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Recover a Lead
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Lead Details
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Can Convert Lead to Member
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Can Follow Up with a Lead
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="heading-title">Member Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Can Send Email
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Create New Member
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Members Basic Details
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Delete a Member
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Members List
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Address Details
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="heading-title">Package Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Create New Package
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Packages List
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Package Details
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Delete a Package
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="heading-title">Staff Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Create New Staff
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Staff Details
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Staff List
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Staff Roles
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Staff Password
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Lock Staff Account
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Unlock Staff Account
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="heading-title">Roles & Permission Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Create New Role
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Delete a Role
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update a Role
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Roles and Permissions
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="heading-title">Setting Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Update Settings
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Settings
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="heading-title">Dashboard Management</div>
                        <div class="columns is-multiline">
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        View Lead Dashboard
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Report Download
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <div class="control">
                                <button class="button submit-button" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import AddRole from "~/components/modals/addRole";
export default {
  components: {
    AddRole
  },
  data: function() {
    return {
      roles: [
        {
          name: "Admin",
          note: "Role note..."
        },
        {
          name: "Manager",
          note: "Role note..."
        },
        {
          name: "Trainer",
          note: "Role note..."
        },
        {
          name: "Front Desk Staff",
          note: "Role note..."
        }
      ]
    };
  },
  methods: {
    showAddRole() {
      this.$modal.show("add-role-modal");
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.rolePer-container {
  .nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .button {
      color: white;
      border-radius: 10px;
      background-color: $lightOrange;
    }
  }
  .heading-title {
    font-family: "Proxima Nova Alt Bl Rg", Georgia, sans-serif;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}

@media screen and (max-width: 420px) {
  .nav-panel .button {
    font-size: 3vw;
  }
}
</style>
