<template>
  <div class="pie-analytics">
    <pie-chart v-if="showPie" :data="pieData" :options="options"/>
  </div>
</template>

<script>
import PieChart from "~/components/analytics/pieChart";
export default {
  components: {
    PieChart
  },
  data() {
    return {
      pieData: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [
          {
            label: "Parameter",
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)"
            ],
            borderColor: [
              "rgba(255,99,132,1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)"
            ],
            borderWidth: 1
          }
        ]
      },
      options: { maintainAspectRatio: false, responsive: true },
      showPie: false
    };
  },
  mounted() {
    this.showPie = true;
  }
};
</script>

<style scoped lang="scss">
.pie-analytics * {
  height: 250px !important;
}
@media screen and (min-width: 769px) {
  .pie-analytics {
    padding-left: 10%;
    * {
      width: 80% !important;
    }
  }
}
</style>
