/* html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  h: 100%;
  fz: 1.8rem;
  color: #000 #FFF;
  t-r: optimizeLegibility;
  ff: system-ui;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  mih: 100vh;
  lh: 1.2;
  pos: relative;
  fw: normal;
  ff: 'Titillium Web', sans-serif;
}

.container {
  mih: 1px;

  &--full {
    w: 100%;
  }

  &--block {
    w: 80%;
    m: 0 auto;

    &__ct {
      w: 55%;
      m: 0 auto;
    }
  }

  &--wr {
    display: block;

    &:after, &:before {
      cnt: '';
      cl: both;
      d: table;
    }
  }
  &--rel {
    pos: relative;
  }
  &--ovh {
    ofl: hidden;
  }
}
 */
