<template>
<div class="attendance-container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="heading-container">
        <div class="heading-container-title">All Members' Attendance</div>
        <!-- <div class="links">
                    <span>Sort by</span>
                    <a @click.stop="sort('popularity')" :class="{active: currentSort === 'popularity'}"><a>Popularity</a>
                </div> -->
      </div>
    </div>
    <div class="column is-12">
      <div style="overflow-x:auto;">
        <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Members</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import EditPackage from '~/components/modals/editPackage';
import DeletePackage from '~/components/modals/deletePackage';
export default {
  middleware: 'auth',
  components: {
    EditPackage,
    DeletePackage
  },
  data: function() {
    return {
      packageDoc: {
        activities: 'Regular Membership',
        maxDiscount: '250.00',
        transferrable: 'No',
        validityFrom: '1st Jun 2018',
        validityTo: '15th Jun 2018',
        name: '',
        cost: '',
        duration: '',
        trainer: '',
        discountType: '',
        freezable: '',
        description: ''
      }
    };
  },
  methods: {
    showEditPackageModal(packageDoc) {
      this.$modal.show('edit-package-modal', {
        package: packageDoc
      });
    },
    showDeletePackageModal(packageDoc) {
      this.$modal.show('delete-package-modal', {
        package: packageDoc
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.attendance-container {
  margin-top: 1em;
  .buttons {
    .button {
      color: white;
      border-radius: 10px;
      background-color: $lightOrange;
    }
  }
  .heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .heading-container-title {
      font-size: 1.3em;
    }
    .links {
      a {
        font-size: 0.8em;
        font-family: 'Proxima Nova Th', Georgia, sans-serif;
      }
    }
    .links a:nth-child(2),
    .links a:nth-child(3) {
      margin: 0 10px;
    }
    .links a.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
  .package-card {
    .package-card-header {
      justify-content: space-between;
      .header-info {
        padding: 0.4em 1em;
        .package-card-code {
          font-family: 'Proxima Nova Alt Bl Rg', Georgia, sans-serif;
          font-size: 1.3em;
        }
      }
      .card-icons {
        display: flex;
      }
    }
    .card-content {
      p {
        padding: 0.5em 0;
      }
      .info {
        background-color: $bg;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .heading-container {
    flex-direction: column !important;
    .buttons {
      a {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .buttons .button {
    font-size: 3vw;
  }
}
</style>
