<template>
<div class="discount-container">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">All Discount Coupons</div>
                <div class="buttons">
                    <a @click="showAddDiscountModal" class="button">Add New Coupon</a>
                    <add-discount/>
              </div>
            </div>
        </div>
        <!--<div class="column is-12">
           <paginate
  name="coupons"
  :list="coupons"
  :per="4"
  tag='div'
  :class="['columns','is-multiline']"
> -->
        <div class="column is-half" v-for="coupon in coupons" :key="coupon._id">
            <div class="card discount-card">
                <div class="card-header discount-card-header">
                    <div class="header-info">
                        <p class="discount-card-code">
                            {{coupon.code}}
                        </p>
                        <p>
                            {{coupon.couponValue}} % Off
                        </p>
                    </div>
                    <div class="card-icons">
                        <a @click.stop="showEditDiscountModal(coupon)" class="card-header-icon">
      <span class="icon">
        <i class="material-icons">edit</i>
      </span>
    </a>
                        <a @click.stop="showDeleteDiscountModal(coupon)" class="card-header-icon">
      <span class="icon">
        <i class="material-icons">delete</i>
      </span>
    </a>
                    </div>
                </div>
                <div class="card-content">
                    <p>Get Flat {{coupon.couponValue}} off on {{coupon.membershipType}}</p>
                    <p class="info">{{coupon.desc}}</p>
                    <p>Valid from {{coupon.validFrom | moment("MMMM Do YYYY")}} to {{coupon.validTo | moment("MMMM Do YYYY")}}</p>
                </div>
            </div>
        </div>
          <!-- </paginate>
          <nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination" style="width: fit-content;
    margin: auto; margin-bottom: 3em;">
<paginate-links for="coupons" :limit="2" :show-step-links="true" :classes="{
'ul':'pagination-list',
'ul.paginate-links> .active':'is-currenta',
'ul li a':'pagination-link'
}
  "></paginate-links>
  </nav>
        </div> -->
    <edit-discount />
    <delete-discount />
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import AddDiscount from '~/components/modals/addDiscountCoupon';
import EditDiscount from '~/components/modals/editDiscountCoupon';
import DeleteDiscount from '~/components/modals/deleteCoupon';
export default {
  middleware: 'auth',
  components: {
    AddDiscount,
    EditDiscount,
    DeleteDiscount
  },
  data: function() {
    return {
      /* paginate: ['coupons'], */
      coupon: {
        couponCode: 'Open009',
        discountType: 'Flat 20% Discount',
        discountValue: '10.00%',
        validityFrom: '1st Jun 2018',
        validityTo: '15th Jun 2018',
        description: 'Minimum order Rs.5000'
      }
    };
  },
  async asyncData(context) {
    try {
      const { data } = await context.app.$axios.$get('/api/coupon');
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      context.store.commit('coupon/setCoupons', data.coupons);
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    showAddDiscountModal() {
      this.$modal.show('add-discount-coupon-modal');
    },
    showEditDiscountModal(coupon) {
      this.$modal.show('edit-discount-coupon-modal', { coupon: coupon });
    },
    showDeleteDiscountModal(coupon) {
      this.$modal.show('delete-discount-coupon-modal', { coupon: coupon });
    }
  },
  computed: {
    ...mapGetters({
      coupons: 'coupon/getCoupons'
    })
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.discount-container {
  margin-top: 1em;
  .buttons {
    .button {
      color: white;
      border-radius: 10px;
      background-color: $lightOrange;
    }
  }

  .heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .heading-container-title {
      font-size: 1.3em;
    }
  }
  .discount-card {
    .discount-card-header {
      justify-content: space-between;
      .header-info {
        padding: 0.4em 1em;
        .discount-card-code {
          font-family: 'Proxima Nova Alt Bl Rg', Georgia, sans-serif;
          font-size: 1.3em;
        }
      }
      .card-icons {
        display: flex;
      }
    }
    .card-content {
      p {
        padding: 0.5em 0;
      }
      .info {
        background-color: $bg;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .heading-container {
    flex-direction: column !important;
    .buttons {
      a {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .buttons .button {
    font-size: 3vw;
  }
}
</style>
