<template>
<div class="lead-m">
    <div class="columns is-multiline">
      <div class="column is-12 employee-buttons">
        <div class="buttons">
        

  <a class="button" @click.stop="showAddStaffFormModal">Add Staff</a>
<add-staff-form/>
</div>
      </div>
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">List of all the employees</div>
                <div class="links">
                <span>Sort by</span>
                <a @click.stop="sort('az')" :class="{active: currentSort === 'az'}">A - Z</a>
                <a @click.stop="sort('created')" :class="{active: currentSort === 'created'}">Recently added</a>
              </div>
            </div>
        </div>
        <div class="leads column is-12">
            <div class="columns leads_columns">
                <div class="leads_info column is-one-third" id="leads_info_id" style="position:relative;" :class="{show_hidden_lead:showHiddenLead}">
                    <nav class="level lead" v-for="(staff,index) in staffsSort"   :key='staff.id'  :class="{active: staffClickedIndex === index}">

                        <a @click.prevent="staffClickedIndex = index">
                            <div class="level-left">
                                <div class="level-item">
                                    <article class="media">
                                        <figure class="media-left">
                                            <p class="image">
                                                <img :src="`${staff.user.dp? 'https://owlsquaad.fit'+staff.user.dp.permalink:'https://bulma.io/images/placeholders/640x480.png'}`">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="lead_info_content">
                                                <p><span>{{staff.user.full_name}}</span> </p>
                                                <p><small>{{staff.active}}</small></p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </a>

                        <div class="level-right" v-if="staffClickedIndex === index">
                            <div class="level-item">
                                <a @click.stop="showUpdateStaffFormModal(staff)"><i class="material-icons">
edit
</i></a>
<update-staff-form />
                            </div>
                            <div class="level-item">
                                <a @click.stop="showDeleteModal(staff)">
<i class="material-icons">
delete
</i></a>
  <delete-employee formType='staff'/>
                            </div>
                            <div class="level-item">
                                <a @click.stop="showResetPasswordModal"><i class="material-icons">
build
</i></a>
<reset-password/>
                            </div>
                        </div>
                    </nav>
                   <a @click.stop="showHiddenLeadsMethod" class="arrow_drop_leads_a"><i class="material-icons arrow_drop_leads">
{{arrowDropLead}}
</i></a> 

                </div>
                <div class="column is-two-thirds lead_details">
                    <div class="columns is-multiline lead_details_columns">
                        <div class="column is-12 lead_personal">
                            <div class="column is-12">
                            <nav class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">date of birth</p>
                                        <p class="">{{staffsSort[staffClickedIndex].user.dob | moment("MMMM Do YYYY")}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">email ID</p>
                                        <p class="">{{staffsSort[staffClickedIndex].email}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">contact number</p>
                                        <p class="">{{staffsSort[staffClickedIndex].phone}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Gender</p>
                                        <p class="">{{staffsSort[staffClickedIndex].user.gender}}</p>
                                    </div>
                                </div>

                            </nav>
                            </div>
                            <div class="column is-12 hidden_lead_personal" :class="{show_hidden_info:showHiddenInfo}">
                                <nav class="level">
                                <!-- <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Reporting Manager</p>
                                        <p class="">Bhuvan</p>
                                    </div>
                                </div> 
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Reportee</p>
                                        <p class="">N/A</p>
                                    </div>
                                </div> -->
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Role</p>
                                        <p class="">{{staffsSort[staffClickedIndex].user.trainer.role}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Specialization</p>
                                        <p class="">{{staffsSort[staffClickedIndex].user.trainer.specialization}}</p>
                                    </div>
                                </div>
                            </nav>
                            </div>
                            <a @click.stop="showHiddenInfoMethod"><i class="material-icons arrow_drop">
{{arrowDrop}}
</i></a>
                        </div>
                        <div class="column is-12 lead_activities">
                            <div class="card">
                                <div class="card-header main_header">
                                    Recent activities
                                </div>
                                <ul class="activity_day" id="activity_day_id">
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import AddStaffForm from '~/components/modals/addStaffForm';
import UpdateStaffForm from '~/components/modals/updateStaffForm';
import DeleteLead from '~/components/modals/deleteLead';
import DeleteEmployee from '~/components/modals/deleteStaff';
import ResetPassword from '~/components/modals/resetPassword';
export default {
  middleware: 'auth',
  components: {
    DeleteLead,
    UpdateStaffForm,
    ResetPassword,
    AddStaffForm,
    DeleteEmployee
  },
  data() {
    return {
      showHiddenInfo: false,
      showHiddenLead: false,
      arrowDrop: 'arrow_drop_down',
      arrowDropLead: 'arrow_drop_down',
      staffClickedIndex: 0,
      /* staffDetails: {
        email: 'ex@ex.com',
        name: 'Jane Doe',
        gender: 'Male',
        role: 'Front Desk',
        reportingManager: 'Bhuvan Kumar',
        specialization: 'Personal Training'
      },
      employees: [
        {
          name: 'San Keith',
          phone: '9869689863',
          created: 'Mar 12 2012 10:00:00 AM',
          active: 'Active 23 min ago'
        },
        {
          name: 'Alex Smith',
          phone: '8769689863',
          created: 'Mar 8 2012 08:00:00 PM',
          active: 'Active 15 min ago'
        },
        {
          name: 'Bruno Mars',
          phone: '7669689863',
          created: 'Mar 8 2012 09:00:00 AM',
          active: 'Active 10 min ago'
        }
      ], */
      currentSort: 'az'
    };
  },
  async asyncData(context) {
    try {
      const { data } = await context.app.$axios.$get('/api/trainer');
      console.log(data);
      context.store.commit('staff/setStaffs', data.trainers);
      /* return {
        leads: data.leads,
        sortedStories: data.leads
      }; */
    } catch (error) {
      if (error.response && error.response.status === 500) {
        throw new Error('Internal Server Error');
      }
      if (error.response && error.response.status === 404) {
        throw new Error('No Record found');
      }
      if (error.response && error.response.status === 401) {
        throw new Error('Not Authorized');
      }
      throw error;
    }
  },
  methods: {
    showAddStaffFormModal() {
      this.$modal.show('add-staff-form-modal');
    },
    showUpdateStaffFormModal(employee) {
      this.$modal.show('update-staff-form-modal', { staffDetails: employee });
    },
    showDeleteModal(employee) {
      this.$modal.show('delete-staff-modal', { employee: employee });
    },
    showResetPasswordModal() {
      this.$modal.show('reset-password-modal');
    },
    showHiddenInfoMethod() {
      this.showHiddenInfo = !this.showHiddenInfo;
      if (this.showHiddenInfo) {
        this.arrowDrop = 'arrow_drop_up';
      } else {
        this.arrowDrop = 'arrow_drop_down';
      }
    },
    showHiddenLeadsMethod() {
      this.showHiddenLead = !this.showHiddenLead;
      if (this.showHiddenLead) {
        this.arrowDropLead = 'arrow_drop_up';
      } else {
        this.arrowDropLead = 'arrow_drop_down';
      }
    },
    sort(sortBy) {
      if (sortBy !== this.currentSort) {
        this.currentSort = sortBy;
      }
    }
  },
  computed: {
    ...mapGetters({
      staffs: 'staff/getStaffs'
    }),
    staffsSort() {
      var that = this;
      return this.staffs.sort(function(a, b) {
        if (that.currentSort === 'az') {
          var x = a.user.full_name.toLowerCase();
          var y = b.user.full_name.toLowerCase();
          if (x < y) {
            return -1;
          }
          if (x > y) {
            return 1;
          }
          return 0;
        } else if (that.currentSort === 'created') {
          a = new Date(a.user.trainer.createdAt);
          b = new Date(b.user.trainer.createdAt);
          return a > b ? -1 : a < b ? 1 : 0;
        } else {
          return that.staffs;
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.buttons {
  display: flex;
  justify-content: flex-end;
  .button {
    color: white;
    border-radius: 10px;
    background-color: $lightOrange;
  }
}
@media screen and (max-width: 767px) {
  .employee-buttons {
    display: flex;
    flex-direction: column;
    .buttons {
      div {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .buttons .button,
  i {
    font-size: 3vw;
  }
}
.heading-container {
  .heading-container-title {
    font-size: 1.3em;
  }
  .links {
    a {
      font-size: 0.8em;
      font-family: 'Proxima Nova Th', Georgia, sans-serif;
    }
  }
}
.lead-m {
  margin-top: 1em;
}

.leads .media-left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.leads_columns {
  min-height: 100vh;
  max-height: 100vh;
  height: fill-available;
}
.hidden_lead_personal {
  display: none;
}
.show_hidden_info {
  display: block !important;
}
.show_hidden_lead {
  max-height: fit-content !important;
}
.leads .leads_info {
  background-color: white;
  padding: 0;
  overflow: auto;
  max-height: inherit;
  .lead {
    display: flex;
    padding: 0.75rem;
    border-bottom: 1px solid #efefef;
    &.active {
      background-color: $extraDarkGrey;
      .lead_info_content {
        color: white;
      }
    }
    .material-icons {
      font-size: 1em;
      color: white;
    }
    .lead_info_content {
      p {
        line-height: 0.9em;
      }
      span {
        font-weight: 400;
        font-size: 0.8em;
      }
      small {
        font-size: 0.68em;
      }
    }
  }
}

.lead:not(:last-child) {
  margin-bottom: 0;
}

.lead:last-child {
  border-bottom: none !important;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a:nth-child(2),
.links a:nth-child(3) {
  margin: 0 10px;
}

.links a.active {
  text-decoration: underline;
  font-weight: bold;
}

.lead_details {
  background-color: $extraDarkGrey;
  color: white;
  /* height: 100vh; */
  .lead_details_columns {
    /* max-height: 100vh;
    min-height: 100vh; */

    .lead_personal {
      height: min-content;
      border-bottom: 1px solid white;
      font-size: 0.7em;
      .level {
        flex-wrap: wrap;
      }
    }
  }
}
.lead_activities {
  max-height: 100vh;
  .card {
    max-height: 100vh;
    color: white;
    background-color: $extraDarkGrey;
    box-shadow: none;
    border: none;
    .main_header {
      box-shadow: none;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .activity_day {
      height: 60vh;
      overflow: auto;
      .card {
        margin-bottom: 1.5em;
      }
      .card-header {
        box-shadow: none;
        font-style: italic;
        font-size: 0.7em;
        margin-bottom: 0.5em;
      }
      .activities {
        margin-left: 0.25em;
      }
    }
  }
}
#activity_day_id::-webkit-scrollbar,
#leads_info_id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#activity_day_id::-webkit-scrollbar-thumb,
#leads_info_id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}
#activity_day_id::-webkit-scrollbar-track
  #leads_info_id::-webkit-scrollbar-track {
  background-color: $extraDarkGrey;
}
.arrow_drop {
  position: relative;
  bottom: -24px;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 3px 3px 3px 0;
  color: black;
  margin-left: 50%;
}
.arrow_drop_leads {
  position: relative;
  //bottom: 105px;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 3px 3px 3px 0;
  color: black;
  margin-left: 50%;
}
.arrow_drop_leads_a {
  display: none;
  height: 0;
  position: absolute;
  margin-left: 46%;
  bottom: 20px;
}
@media screen and (max-width: 600px) {
  .heading-container {
    display: block;
  }
  .lead_details {
    .lead_details_columns {
      .lead_personal {
        font-size: 0.7em;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .heading-container {
    display: block;
    .links {
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 760px) {
  .lead_details {
    .lead_details_columns {
      .lead_personal {
        font-size: 0.6em;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .arrow_drop_leads_a {
    display: block;
  }
  .lead_personal {
    .level {
      .level-item {
        & > div {
          display: inline-flex;
          p:first-child {
            margin-right: 0.5em;
            &::after {
              content: ' :';
            }
          }
        }
      }
    }
  }
  .leads .leads_info {
    max-height: 109px;
    overflow: hidden;
    .level {
      .level-right {
        .level-item:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}
</style>
