<template>
<div class="dashboard">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="heading-container">
        <div class="heading-container-title">Find all the information related to your club</div>
        <div class="links">
                <a href="#">This year</a>
                <a href="#">This month</a>
                <a href="#" class="active">This week</a>
              </div>
      </div>
    </div>
    <div class="column quick-info is-12">
      <div class="columns is-variable is-2">
        <div class="column is-one-third">
          <div class="box has-text-centered">
            <p class="">Total Collection</p>
            <p class="title">20,000 INR</p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box has-text-centered">
            <p class="">Packages sold</p>
            <p class="title">16</p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box has-text-centered">
            <p class="">Leads Converted</p>
            <p class="title">10</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-12 activity">
      <div class="card">
        <header class="card-header">
          <p class="">
            Recent Activities
          </p>
        </header>
          <ul class="activities" id="activities_id">
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
            <li><div class="activity_div"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</span><span class="activity_time"><i class="material-icons">
schedule
</i>9:30 PM</span></div></li>
          </ul>
      </div>
    </div>
    <div class="column is-12 analytics">
      <div class="columns is-variable is-3">
        <div class="column is-one-third">
          <div class="card">
            <header class="card-header">
              <p class="">
            Analytics
          </p>
            </header>
            <line-analytics/>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <header class="card-header">
              <p class="">
            Analytics
          </p>
            </header>
            <pie-analytics/>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <header class="card-header">
              <p class="">
            Analytics
          </p>
            </header>
            <bar-analytics/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import LineAnalytics from "~/components/analytics/lineAnalytics";
import PieAnalytics from "~/components/analytics/pieAnalytics";
import BarAnalytics from "~/components/analytics/barAnalytics";
export default {
  middleware: 'auth',
  components: {
    LineAnalytics,
    PieAnalytics,
    BarAnalytics
  }
};
</script>

<style scoped lang="scss">
.card {
  .card-header {
    font-size: 0.8em;
  }
}
.heading-container {
  .heading-container-title {
    font-size: 1.3em;
  }
  .links {
    a {
      font-size: 0.8em;
      font-family: "Proxima Nova Th", Georgia, sans-serif;
    }
  }
}
.dashboard {
  margin-top: 1em;
  .quick-info .box,
  .activity .card,
  .analytics .card {
    box-shadow: none;
  }
}
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a:nth-child(2) {
  margin: 0 10px;
}

.links a.active {
  text-decoration: underline;
  font-weight: bold;
}
.activity .card-header,
.analytics .card-header {
  padding: 0.5em 1.8em;
  p {
    font-weight: bold;
  }
}
ul.activities li {
  padding: 0.5em 2em;
  border-bottom: 1px solid #efefef;
}
ul.activities {
  max-height: 200px;
  overflow: auto;
}
.activity_div {
  display: flex;
  justify-content: space-between;
  .activity_time {
    color: #9ca4a6;
    i {
      font-size: 0.8em;
      margin-right: 0.3em;
    }
  }
}
#activities_id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#activities_id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}
#activities_id::-webkit-scrollbar-track {
  background-color: white;
}
@media screen and (max-width: 760px) {
  .heading-container {
    display: block;
  }
}
</style>
