<template>
<div class="location-container">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">All Locations</div>
                <div class="buttons">
                    <a @click="showAddLocationModal" class="button">Add New Location</a>
                    <add-location/>
              </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card discount-card">
                <div class="card-header discount-card-header">
                    <div class="header-info">
                        <p class="discount-card-code">
                            {{coupon.couponCode}}
                        </p>
                        <p>
                            {{coupon.discountType}}
                        </p>
                    </div>
                    <div class="card-icons">
                        <a @click.stop="showEditLocationModal(coupon)" class="card-header-icon">
      <span class="icon">
        <i class="material-icons">edit</i>
      </span>
    </a>
    <edit-location />
                        <a @click.stop="showDeleteLocationModal(coupon)" class="card-header-icon">
      <span class="icon">
        <i class="material-icons">delete</i>
      </span>
    </a>
    <delete-location />
                    </div>
                </div>
                <div class="card-content">
                    <p>Address 1: </p>
                    <p class="info">Address 2: </p>
                    <p>Location: </p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import AddLocation from '~/components/modals/addLocation';
import EditLocation from '~/components/modals/editLocation';
import DeleteLocation from '~/components/modals/deleteLocation';
export default {
  middleware: 'auth',
  components: {
    AddLocation,
    EditLocation,
    DeleteLocation
  },
  data: function() {
    return {
      coupon: {
        couponCode: 'Open009',
        discountType: 'Flat 20% Discount',
        discountValue: '10.00%',
        validityFrom: '1st Jun 2018',
        validityTo: '15th Jun 2018',
        description: 'Minimum order Rs.5000'
      }
    };
  },
  methods: {
    showAddLocationModal() {
      this.$modal.show('add-location-modal');
    },
    showEditLocationModal(coupon) {
      this.$modal.show('edit-location-modal', { coupon: coupon });
    },
    showDeleteLocationModal(coupon) {
      this.$modal.show('delete-location-modal', { coupon: coupon });
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.location-container {
  margin-top: 1em;
  .buttons {
    .button {
      color: white;
      border-radius: 10px;
      background-color: $lightOrange;
    }
  }

  .heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .heading-container-title {
      font-size: 1.3em;
    }
  }
  .discount-card {
    .discount-card-header {
      justify-content: space-between;
      .header-info {
        padding: 0.4em 1em;
        .discount-card-code {
          font-family: 'Proxima Nova Alt Bl Rg', Georgia, sans-serif;
          font-size: 1.3em;
        }
      }
      .card-icons {
        display: flex;
      }
    }
    .card-content {
      p {
        padding: 0.5em 0;
      }
      .info {
        background-color: $bg;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .heading-container {
    flex-direction: column !important;
    .buttons {
      a {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .buttons .button {
    font-size: 3vw;
  }
}
</style>
