<template>
<div class="lead-m">
    <div class="columns is-multiline">
      <div class="column is-12 member-buttons">
        <div class="buttons">
        

  <a class="button" @click.stop="showAddNewMemberFormModal">Add Member</a>
<add-new-member-form/>
</div>
      </div>
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">List of all the members</div>
                <div class="links">
                <span>Sort by</span>
                <a @click.stop="sort('az')" :class="{active: currentSort === 'az'}">A - Z</a>
                <a @click.stop="sort('created')" :class="{active: currentSort === 'created'}">Recently added</a>
              </div>
            </div>
        </div>
        <div class="leads column is-12">
            <div class="columns leads_columns">
                <div class="leads_info column is-one-third" id="leads_info_id" v-if="members.length > 0" style="position:relative;"  :class="{show_hidden_lead:showHiddenLead}">
                <!-- <paginate
  name="members"
  :list="membersSort"
  :per="10"
> -->
                    <nav class="level lead" v-for="member in membersSort" :key="member.id" :class="{active: memberClickedIndex === membersSort.map(function(e){return e._id;}).indexOf(member._id)}">

                        <a @click="memberClickedIndex = membersSort.map(function(e){return e._id;}).indexOf(member._id)">
                            <div class="level-left">
                                <div class="level-item">
                                    <article class="media">
                                        <figure class="media-left">
                                            <p class="image">
                                                <img src="https://bulma.io/images/placeholders/128x128.png">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="lead_info_content">
                                                <p><span>{{member.user? member.user.full_name:""}}</span> </p>
                                                <p><small>{{member?member.phone:""}}</small> </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </a>
                        
                        <!-- <div class="level-right" v-if="memberClickedIndex === index">
                            <div class="level-item">
                                <a @click.stop="showDeleteModal">
<i class="material-icons">
delete
</i></a>
  <delete-lead  formType="Member"/>
                            </div>
                        </div> -->
                    </nav>
<!-- </paginate>
<nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination" style="width: fit-content;
    margin: auto; margin-bottom: 3em;">
<paginate-links for="members" :limit="2" :show-step-links="true" :classes="{
'ul':'pagination-list',
'ul.paginate-links> .active':'is-currenta',
'ul li a':'pagination-link'
}
  "></paginate-links>
  </nav> -->
  <a @click.stop="showHiddenLeadsMethod" class="arrow_drop_leads_a"><i class="material-icons arrow_drop_leads">
{{arrowDropLead}}
</i></a>
                </div>
                <div class="column is-two-thirds lead_details">
                    <div class="columns is-multiline lead_details_columns">
                        <div class="column is-12 lead_personal">
                            <div class="column is-12">
                            <nav class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Member Since</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.createdAt | moment("ddd, MMMM Do YYYY") || "N/A" }}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">email ID</p>
                                        <p class="">{{membersSort[memberClickedIndex].email  || "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Package Activation</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.package ? membersSort[memberClickedIndex].user.member.package.activation : "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Package Type</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.package ? membersSort[memberClickedIndex].user.member.package.packageType : "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Package</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.package ? membersSort[memberClickedIndex].user.member.package.pckg : "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">created</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.createdAt | moment("ddd, MMMM Do YYYY") || "N/A"}}</p>
                                    </div>
                                </div>
                            </nav>
                            </div>
                            <div class="column is-12 hidden_lead_personal" :class="{show_hidden_info:showHiddenInfo}">
                                <nav class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Diet</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.diet || "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Additional Dicount</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.package ? membersSort[memberClickedIndex].user.member.package.additionalDiscount : "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Coupon</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.package ? membersSort[memberClickedIndex].user.member.package.coupon : "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">fitness goal options</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.fitnessGoal || "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Health Problem</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.healthProblem || "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Height</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.height || "N/A"}}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="">Interest</p>
                                        <p class="">{{membersSort[memberClickedIndex].user.member.intrest || "N/A"}}</p>
                                    </div>
                                </div>
                            </nav>
                            </div>
                            <a @click.stop="showHiddenInfoMethod"><i class="material-icons arrow_drop">
{{arrowDrop}}
</i></a>
                        </div>
                        <div class="column is-12 lead_activities">
                            <div class="card">
                                <div class="card-header main_header">
                                    Recent activities
                                </div>
                                <ul class="activity_day" id="activity_day_id">
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
</li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import AddNewMemberForm from '~/components/modals/addNewMemberForm';
import EditLeadForm from '~/components/modals/editLeadForm';
import DeleteLead from '~/components/modals/deleteLead';
import EventBus from '~/plugins/eventBus.js';
export default {
  middleware: 'auth',
  components: {
    AddNewMemberForm,
    DeleteLead,
    EditLeadForm
  },
  data() {
    return {
      showHiddenInfo: false,
      showHiddenLead: false,
      arrowDrop: 'arrow_drop_down',
      arrowDropLead: 'arrow_drop_down',
      currentSort: 'az',
      memberClickedIndex: 0
      /* paginate: ['members'] */
    };
  },
  mounted() {
    /* EventBus.$on('newMember', newMemberDoc => {
      this.$axios
        .$get('/api/member/' + newMemberDoc._id)
        .then(res => {
          console.log('resss' + JSON.stringify(res));
          this.members.push(res.data.member[0]);
        })
        .catch(error => {
          if (error.response && error.response.status === 500) {
            throw new Error('Internal Server Error');
          }
          if (error.response && error.response.status === 404) {
            throw new Error('No Record found');
          }
          if (error.response && error.response.status === 401) {
            throw new Error('Not Authorized');
          }
          throw error;
        });
    }); */
  },
  methods: {
    showAddNewMemberFormModal() {
      this.$modal.show('add-new-member-form-modal');
    },
    showEditLeadFormModal() {
      this.$modal.show('edit-lead-form-modal');
    },
    showDeleteModal() {
      this.$modal.show('delete-lead-modal');
    },
    showHiddenInfoMethod() {
      this.showHiddenInfo = !this.showHiddenInfo;
      if (this.showHiddenInfo) {
        this.arrowDrop = 'arrow_drop_up';
      } else {
        this.arrowDrop = 'arrow_drop_down';
      }
    },
    showHiddenLeadsMethod() {
      this.showHiddenLead = !this.showHiddenLead;
      if (this.showHiddenLead) {
        this.arrowDropLead = 'arrow_drop_up';
      } else {
        this.arrowDropLead = 'arrow_drop_down';
      }
    },
    sort(sortBy) {
      if (sortBy !== this.currentSort) {
        this.currentSort = sortBy;
      }
    }
  },
  async asyncData(context) {
    try {
      console.log('get');
      const { data } = await context.app.$axios.$get('/api/member');
      console.log(data);
      context.store.commit('member/setMembers', data.members);
      /* return {
        members: data.members
      }; */
    } catch (error) {
      if (error.response && error.response.status === 500) {
        throw new Error('Internal Server Error');
      }
      if (error.response && error.response.status === 404) {
        throw new Error('No Record found');
      }
      if (error.response && error.response.status === 401) {
        throw new Error('Not Authorized');
      }
      throw error;
    }
  },
  computed: {
    ...mapGetters({
      members: 'member/getMembers'
    }),
    membersSort() {
      var that = this;
      return this.members.sort(function(a, b) {
        if (that.currentSort === 'az') {
          var x = a.user.full_name.toLowerCase();
          var y = b.user.full_name.toLowerCase();
          if (x < y) {
            return -1;
          }
          if (x > y) {
            return 1;
          }
          return 0;
        } else if (that.currentSort === 'created') {
          a = new Date(a.user.member.createdAt);
          b = new Date(b.user.member.createdAt);
          return a > b ? -1 : a < b ? 1 : 0;
        } else {
          return that.members;
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.pagination-link {
  background-color: #ff9200;
}
.paginate-links.members {
  user-select: none;
  list-style-type: none;
  padding: 0;

  a {
    cursor: pointer;
  }
  li.active a {
    font-weight: bold;
  }
  li.next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  li.disabled a {
    color: #ccc;
    cursor: no-drop;
  }
}
.buttons {
  display: flex;
  justify-content: flex-end;
  .button {
    color: white;
    border-radius: 10px;
    background-color: $lightOrange;
  }
}
@media screen and (max-width: 767px) {
  .member-buttons {
    display: flex;
    flex-direction: column;
    .buttons {
      div {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .buttons .button,
  i {
    font-size: 3vw;
  }
}
.heading-container {
  .heading-container-title {
    font-size: 1.3em;
  }
  .links {
    a {
      font-size: 0.8em;
      font-family: 'Proxima Nova Th', Georgia, sans-serif;
    }
  }
}
.lead-m {
  margin-top: 1em;
}

.leads .media-left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.leads_columns {
  min-height: 100vh;
  max-height: 100vh;
  height: fill-available;
}
.hidden_lead_personal {
  display: none;
}
.show_hidden_info {
  display: block !important;
}
.show_hidden_lead {
  max-height: fit-content !important;
}
.leads .leads_info {
  background-color: white;
  padding: 0;
  overflow: auto;
  max-height: inherit;
  .lead {
    display: flex;
    padding: 0.75rem;
    border-bottom: 1px solid #efefef;
    &.active {
      background-color: $extraDarkGrey;
      .lead_info_content {
        color: white;
      }
    }
    .material-icons {
      font-size: 1em;
      color: white;
    }
    .lead_info_content {
      p {
        line-height: 0.9em;
      }
      span {
        font-weight: 400;
        font-size: 0.8em;
      }
      small {
        font-size: 0.68em;
      }
    }
  }
}

.lead:not(:last-child) {
  margin-bottom: 0;
}

.lead:last-child {
  border-bottom: none !important;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a:nth-child(2),
.links a:nth-child(3) {
  margin: 0 10px;
}

.links a.active {
  text-decoration: underline;
  font-weight: bold;
}

.lead_details {
  background-color: $extraDarkGrey;
  color: white;
  /* height: 100vh; */
  .lead_details_columns {
    /* max-height: 100vh;
    min-height: 100vh; */

    .lead_personal {
      height: min-content;
      border-bottom: 1px solid white;
      font-size: 0.7em;
      .level {
        flex-wrap: wrap;
      }
    }
  }
}
.lead_activities {
  max-height: 100vh;
  .card {
    max-height: 100vh;
    color: white;
    background-color: $extraDarkGrey;
    box-shadow: none;
    border: none;
    .main_header {
      box-shadow: none;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .activity_day {
      height: 60vh;
      overflow: auto;
      .card {
        margin-bottom: 1.5em;
      }
      .card-header {
        box-shadow: none;
        font-style: italic;
        font-size: 0.7em;
        margin-bottom: 0.5em;
      }
      .activities {
        margin-left: 0.25em;
      }
    }
  }
}
#activity_day_id::-webkit-scrollbar,
#leads_info_id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#activity_day_id::-webkit-scrollbar-thumb,
#leads_info_id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}
#activity_day_id::-webkit-scrollbar-track
  #leads_info_id::-webkit-scrollbar-track {
  background-color: $extraDarkGrey;
}
.arrow_drop {
  position: relative;
  bottom: -24px;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 3px 3px 3px 0;
  color: black;
  margin-left: 50%;
}
.arrow_drop_leads {
  position: relative;
  //bottom: 105px;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 3px 3px 3px 0;
  color: black;
  margin-left: 50%;
}
.arrow_drop_leads_a {
  display: none;
  height: 0;
  position: absolute;
  margin-left: 46%;
  bottom: 20px;
}
@media screen and (max-width: 600px) {
  .heading-container {
    display: block;
  }
  .lead_details {
    .lead_details_columns {
      .lead_personal {
        font-size: 0.7em;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .heading-container {
    display: block;
    .links {
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 760px) {
  .lead_details {
    .lead_details_columns {
      .lead_personal {
        font-size: 0.6em;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .arrow_drop_leads_a {
    display: block;
  }
  .lead_personal {
    .level {
      .level-item {
        & > div {
          display: inline-flex;
          p:first-child {
            margin-right: 0.5em;
            &::after {
              content: ' :';
            }
          }
        }
      }
    }
  }
  .leads .leads_info {
    max-height: 75px;
    overflow: hidden;
    //max-height: 120px !important;
    .level {
      .level-right {
        .level-item:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}
</style>
