<template>
<div class="package-container">
    <div class="columns is-multiline">
      <!-- <div class="column is-12 employee-buttons">
        
      </div> -->
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">All Packages</div>
                <div class="buttons">
        

  <a class="button" @click.stop="showAddPackageModal">Add Package</a>
<add-package/>
</div>
                <!-- <div class="links">
                    <span>Sort by</span>
                    <a @click.stop="sort('popularity')" :class="{active: currentSort === 'popularity'}"><a>Popularity</a>
                </div> -->
            </div>
        </div>
        <!-- <div class="column is-12">
          <paginate
  name="packages"
  :list="packages"
  :per="4"
  tag='div'
  :class="['columns','is-multiline']"
> -->
        <div class="column is-half" v-for="packageSin in packages" :key="packageSin._id">
            <div class="card package-card">
                <div class="card-header package-card-header">
                    <div class="header-info">
                        <p class="package-card-code">
                            {{packageSin.pkgName}}
                        </p>
                        <!-- <p>
                            1 Member
                        </p> -->
                    </div>
                    <div class="card-icons">
                        <a @click.stop="showEditPackageModal(packageSin)" class="card-header-icon">
      <span class="icon">
        <i class="material-icons">edit</i>
      </span>
    </a>
                        <a @click.stop="showDeletePackageModal(packageSin)" class="card-header-icon">
      <span class="icon">
        <i class="material-icons">delete</i>
      </span>
    </a>
                    </div>
                </div>
                <div class="card-content">
                    <p>Validity: {{packageSin.validityFrom | moment("MMMM Do YYYY")}} - {{packageSin.validityTo | moment("MMMM Do YYYY")}}</p>
                    <p class="info">Activites: {{packageSin.activities}}</p>
                    <p>Max Discount:  {{packageSin.maxDiscount}}</p>
                    <p class="info">Transferrable: {{packageSin.transferrable? 'Yes':'No'}}</p>
                </div>
            </div>
        </div>
        <!-- </paginate>
        <nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination" style="width: fit-content;
    margin: auto; margin-bottom: 3em;">
<paginate-links for="packages" :limit="2" :show-step-links="true" :classes="{
'ul':'pagination-list',
'ul.paginate-links> .active':'is-currenta',
'ul li a':'pagination-link'
}
  "></paginate-links>
  </nav>
        </div> -->
    <edit-package />
    <delete-package />
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import AddPackage from '~/components/modals/addPackage';
import EditPackage from '~/components/modals/editPackage';
import DeletePackage from '~/components/modals/deletePackage';
export default {
  middleware: 'auth',
  components: {
    AddPackage,
    EditPackage,
    DeletePackage
  },
  data: function() {
    return {
      /* paginate: ['packages'] */
      /* packageDoc: {
        activities: 'Regular Membership',
        maxDiscount: '250.00',
        transferrable: 'No',
        validityFrom: '1st Jun 2018',
        validityTo: '15th Jun 2018',
        name: '',
        cost: '',
        duration: '',
        trainer: '',
        discountType: '',
        freezable: '',
        description: ''
      } */
    };
  },
  async asyncData(context) {
    try {
      const { data } = await context.app.$axios.$get('/api/package');
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      context.store.commit('package/setPackages', data.packages);
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    showAddPackageModal() {
      this.$modal.show('add-package-modal');
    },
    showEditPackageModal(packageDoc) {
      this.$modal.show('edit-package-modal', { package: packageDoc });
    },
    showDeletePackageModal(packageDoc) {
      this.$modal.show('delete-package-modal', { package: packageDoc });
    }
  },
  computed: {
    ...mapGetters({
      packages: 'package/getPackages'
    })
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.package-container {
  margin-top: 1em;
  .buttons {
    display: flex;
    justify-content: flex-end;
    .button {
      color: white;
      border-radius: 10px;
      background-color: $lightOrange;
    }
  }

  .heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .heading-container-title {
      font-size: 1.3em;
    }
    .links {
      a {
        font-size: 0.8em;
        font-family: 'Proxima Nova Th', Georgia, sans-serif;
      }
    }
    .links a:nth-child(2),
    .links a:nth-child(3) {
      margin: 0 10px;
    }

    .links a.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
  .package-card {
    .package-card-header {
      justify-content: space-between;
      .header-info {
        padding: 0.4em 1em;
        .package-card-code {
          font-family: 'Proxima Nova Alt Bl Rg', Georgia, sans-serif;
          font-size: 1.3em;
        }
      }
      .card-icons {
        display: flex;
      }
    }
    .card-content {
      p {
        padding: 0.5em 0;
      }
      .info {
        background-color: $bg;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .employee-buttons {
    display: flex;
    flex-direction: column;
    .buttons {
      a {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .buttons .button {
    font-size: 3vw;
  }
}
</style>
