<template>
    <div class="settings-container">
        <div class="tabs is-boxed custom-tabs">
            <ul>
                <li :class="[ tab === 'admin' ? 'is-active' : '']"><a @click="tab='admin'">Admin Settings</a>
                </li>
                <li :class="[ tab === 'custom-fields' ? 'is-active' : '']"><a @click="tab='custom-fields'">Custom Fields</a>
                </li>
                <li :class="[ tab === 'leads-stages' ? 'is-active' : '']"><a @click="tab='leads-stages'">Leads & Stages</a></li>
                <li :class="[ tab === 'roles-permissions' ? 'is-active' : '']"><a @click="tab='roles-permissions'">Roles & Permissions</a></li>
            </ul>
        </div>
        <div>
            <admin-settings  v-if="tab === 'admin'"/>
            <custom-fields  v-if="tab === 'custom-fields'"/>
            <leads-stages  v-if="tab === 'leads-stages'"/>
            <roles-permissions  v-if="tab === 'roles-permissions'"/>
        </div>
    </div>
</template>

<script>
import AdminSettings from '~/components/adminSettings';
import CustomFields from '~/components/customFields';
import LeadsStages from '~/components/leadsStages';
import RolesPermissions from '~/components/rolesPermissions';
export default {
  middleware: 'auth',
  components: {
    AdminSettings,
    CustomFields,
    LeadsStages,
    RolesPermissions
  },
  data: function() {
    return {
      tab: 'admin'
    };
  },
  methods: {}
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.settings-container {
  margin-top: 1em;
  .tabs {
    li a {
      color: black;
      &:hover {
        color: white;
        background-color: $lightOrange !important;
      }
    }
    li.is-active a {
      color: white;
      background-color: $lightOrange !important;
      border-color: $lightOrange !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .tabs {
    font-size: 0.75rem;
  }
}
</style>
