<template>
<modal name="add-fitness-goal-modal" :scrollable="scrollable"   height="auto">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Add New Fitness Goal Option</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('add-fitness-goal-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="addFitnessGoal">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Title" v-model="title">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-fitness-goal-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  data() {
    return {
      scrollable: true,
      title: ''
    };
  },
  methods: {
    async addFitnessGoal() {
      try {
        this.$modal.hide('add-fitness-goal-modal');
        const { data } = await this.$axios.$post('/api/fitnessgoal', {
          goals: this.title
        });
        this.title = '';
        console.log(data);
        this.$store.commit('member/addFitnessGoal', data.fitnessgoal);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  },
  computed: {
    fitnessGoalValue() {
      return this.title
        .toLowerCase()
        .replace(/\s/g, '-')
        .replace(/---/g, '-')
        .replace(/--/g, '-');
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
