<template>
<modal name="add-location-modal"  :scrollable="scrollable"  height="auto">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Add New Location</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('add-location-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="addCoupon">
            <div class="field">
                <label class="label">Location</label>
                <div class="control">
                    <input class="input" type="text" v-model="location" placeholder="Location">
                </div>
            </div>
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" type="text" v-model="city" placeholder="City">
                </div>
            </div>           
            <div class="field">
                <label class="label">State</label>
                <div class="control">
                    <input class="input" type="text" v-model="state" placeholder="State">
                </div>
            </div>           

            
            <div class="field">
                <label class="label">Address 1</label>
                <div class="control">
                    <textarea class="textarea" v-model="address1" placeholder="Address 1"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Address 2</label>
                <div class="control">
                    <textarea class="textarea" v-model="address2" placeholder="Address 2"></textarea>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Office Type</label>
                <div class="control">
                    <input class="input" type="text" v-model="offType" placeholder="Office Type">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-location-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {},
  data() {
    return {
      scrollable: true
    };
  },
  methods: {
    /* async addCoupon() {
      try {
        this.$modal.hide("add-lead-form-modal");
        console.log("Sent");
        const { data } = await this.$axios.$post("/api/lead", {
          email: this.email,
          phone: this.phone,
          name: this.name,
          gender: this.gender,
          source: this.source
        });
        EventBus.$emit("newLead", data.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 409) {
          throw new Error("Record Conflict");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    } */
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
