<template>
<modal name="add-lead-form-modal"  :scrollable="scrollable"  height="auto">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Add New Lead</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('add-lead-form-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="addLead">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" v-model="email" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input" type="text" v-model="phone" placeholder="phone">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" v-model="name" placeholder="Name">
                </div>
            </div>           

            <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                    <div class="select" >
                        <select v-model="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Source</label>
                <div class="control">
                    <div class="select">
                        <select v-model="source">
        <option v-for="sou in sources" :key="sou._id" :value="sou.source">{{sou.source}}</option>
      </select>
                    </div>
                </div>
                </div>
            <div class="field">
                <label class="label">Assigned to</label>
                <div class="control">
                    <div class="select">
                        <select v-model="asignee">
        <option>Bhuvan Kumar</option>
        <option>Chris Dell</option>
      </select>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-lead-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      email: '',
      phone: '',
      name: '',
      gender: '',
      source: '',
      asignee: '',
      sources: []
    };
  },
  async mounted() {
    try {
      const { data } = await this.$axios.$get('/api/leadsource');
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      this.sources = data.leadsources;
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    async addLead() {
      try {
        this.$modal.hide('add-lead-form-modal');
        console.log('Sent');
        const { data } = await this.$axios.$post('/api/lead', {
          email: this.email,
          phone: this.phone,
          name: this.name,
          gender: this.gender,
          source: this.source
        });
        this.$store.commit('lead/addLead', data.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
