<template>
<modal name="add-lead-stage-modal" :scrollable="scrollable"   height="auto">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Add New Lead Stage</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('add-lead-stage-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="addLeadStage">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text"  placeholder="title">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-lead-stage-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from "~/plugins/eventBus.js";
export default {
  props: {},
  data() {
    return {
      scrollable: true
    };
  },
  methods: {
    /* async addLeadStage() {
      try {
        this.$modal.hide("quick-add-form-modal");
        console.log("Sent");
        const { data } = await this.$axios.$post("/api/lead", {
          email: this.email,
          phone: this.phone,
          name: this.name
        });
        EventBus.$emit("newLead", data.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 409) {
          throw new Error("Record Conflict");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    } */
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
