<template>
<modal name="add-new-member-form-modal" :scrollable="scrollable" height="auto">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Add New Member</p>
            <div class="modal-close-button">
                <a @click.stop="$modal.hide('add-new-member-form-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
            </div>
        </div>
        <div class="tabs is-boxed is-small custom-tabs">
            <ul>
                <li :class="[ tab === 'basic-details' ? 'is-active' : '']"><a @click="tab='basic-details'">Basic Details</a>
                </li>
                <li :class="[ tab === 'personal-details' ? 'is-active' : '']"><a @click="tab='personal-details'">Personal Details</a>
                </li>
                <li :class="[ tab === 'add-package' ? 'is-active' : '']"><a @click="tab='add-package'">Add Packages</a></li>
                <li :class="[ tab === 'payment' ? 'is-active' : '']"><a @click="tab='payment'">Payment</a></li>
            </ul>
        </div>
        <div class="box help-content">
            <form @submit.prevent="addMember" v-if="tab === 'basic-details'">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Email" v-model="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mobile Number</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Mobile" v-model="phone">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Name" v-model="name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Gender</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Source</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="source">
        <option v-for="sou in sources" :key="sou._id" :value="sou.source">{{sou.source}}</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Date of Birth</label>
                    <div class="control">
                        <input class="input" type="date" v-model="dob">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='personal-details'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form @submit.prevent="addMember" v-if="tab === 'personal-details'">
                <div class="field">
                    <label class="label">Interest</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Interest" v-model="interest">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Fitness Goal</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="fitnessGoal">
        <option v-for="fg in fitnessgoals" :key="fg._id" :value="fg.goals">{{fg.goals}}</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Height</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Height" v-model="height">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Weight</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Weight" v-model="weight">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Diet</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Diet" v-model="diet">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Health Problem</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Health Problem" v-model="healthProblem">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='add-package'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form action="" v-if="tab === 'add-package'">
                <div class="field">
                    <label class="label">Select Membership Type</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="packageType" @change="fetchCoupons">
        <option v-for="mem in memTypes" :key="mem._id" :value="mem.slug">{{mem.memberType}}</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Select Package</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="pckg">
        <option v-for="pkg in packages" :key="pkg._id" :value="pkg._id">{{pkg.pkgName}}</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Select a Coupon Code</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="coupon">
        <option v-for="cpn in coupons" :key="cpn._id" :value="cpn._id">{{cpn.code}}</option>
      </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Additional Discount</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Additional Discount" v-model="additionalDiscount">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Assign a Trainer</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Assign a Trainer">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Activation Date</label>
                    <div class="control">
                        <input class="input" type="date" v-model="activation">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='payment'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form @submit.prevent="addMember" v-if="tab === 'payment'">
                <div class="field">
                    <label class="label">Select Payment Mode</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="payMode" @change="paymentModeChanged">
        <option>Card</option>
        <option>Cash</option>
        <option>Cheque</option>
      </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Date of Payment</label>
                    <div class="control">
                        <input class="input" type="date" v-model="payDate">
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{paymentTypeNumber}}</label>
                    <div class="control">
                        <input class="input" type="text" :placeholder="paymentTypeNumber" v-model="payReference">
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <button class="button submit-button" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      tab: 'basic-details',
      payMode: 'Card',
      paymentTypeNumber: 'Reference Number',
      scrollable: true,
      email: '',
      phone: '',
      name: '',
      gender: '',
      source: '',
      asignee: '',
      payMode: '',
      payDate: '',
      payReference: '',
      packageType: '',
      pckg: '',
      coupon: '',
      additionalDiscount: '',
      activation: '',
      interest: '',
      fitnessGoal: '',
      height: '',
      weight: '',
      diet: '',
      healthProblem: '',
      dob: '',
      sources: [],
      fitnessgoals: [],
      memTypes: [],
      packages: [],
      coupons: []
    };
  },
  async mounted() {
    try {
      const { data: leadsourceData } = await this.$axios.$get(
        '/api/leadsource'
      );
      const { data: membershipTypeData } = await this.$axios.$get(
        '/api/membershiptype'
      );

      const { data: fitnessgoalData } = await this.$axios.$get(
        '/api/fitnessgoal'
      );
      const { data: packageData } = await this.$axios.$get('/api/package');
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      this.sources = leadsourceData.leadsources;
      this.fitnessgoals = fitnessgoalData.fitnessgoals;
      this.memTypes = membershipTypeData.membershiptypes;
      this.packages = packageData.packages;
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    async fetchCoupons() {
      const { data } = await this.$axios.$get(
        '/api/coupon/' + this.packageType
      );
      console.log(data);
      this.coupons = data.coupons;
    },
    async addMember() {
      try {
        this.tab = 'basic-details';
        this.$modal.hide('add-new-member-form-modal');
        console.log('Sent');
        const { data } = await this.$axios.$post('/api/member', {
          email: this.email,
          phone: this.phone,
          name: this.name,
          gender: this.gender,
          source: this.source,
          payMode: this.payMode,
          payDate: this.payDate,
          payReference: this.payReference,
          packageType: this.packageType,
          pckg: this.pckg,
          coupon: this.coupon,
          additionalDiscount: this.additionalDiscount,
          activation: this.activation,
          interest: this.interest,
          fitnessGoal: this.fitnessGoal,
          height: this.height,
          weight: this.weight,
          diet: this.diet,
          healthProblem: this.healthProblem,
          dob: this.dob
        });
        console.log(data);
        this.$store.commit('member/addMember', data.member);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    },
    paymentModeChanged() {
      if (this.payMode === 'Card') {
        this.paymentTypeNumber = 'Reference Number';
      } else if (this.payMode === 'Cash') {
        this.paymentTypeNumber = 'Reciept Number';
      } else {
        this.paymentTypeNumber = 'Cheque Number';
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.tabs {
  li a {
    color: white;
    &:hover {
      background-color: $lightOrange !important;
    }
  }
  li.is-active a {
    background-color: $lightOrange !important;
    border-color: $lightOrange !important;
  }
}

.box {
  border: 0 !important;
  box-shadow: none !important;
  background-color: $extraDarkGrey !important;
}

.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white !important;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey !important;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
