<template>
<modal name="convert-member-form-modal" :scrollable="scrollable" height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Add New Member</p>
            <div class="modal-close-button">
                <a @click.stop="$modal.hide('convert-member-form-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
            </div>
        </div>
        <div class="tabs is-boxed is-small custom-tabs">
            <ul>
                <li :class="[ tab === 'basic-details' ? 'is-active' : '']"><a @click="tab='basic-details'">Basic Details</a>
                </li>
                <li :class="[ tab === 'personal-details' ? 'is-active' : '']"><a @click="tab='personal-details'">Personal Details</a>
                </li>
                <li :class="[ tab === 'add-package' ? 'is-active' : '']"><a @click="tab='add-package'">Add Packages</a></li>
                <li :class="[ tab === 'payment' ? 'is-active' : '']"><a @click="tab='payment'">Payment</a></li>
            </ul>
        </div>
        <div class="box help-content">
            <form  v-if="tab === 'basic-details'">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Email" v-model="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mobile Number</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Mobile" v-model="phone">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Name" v-model="name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Gender</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Source</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="source">
        <option>Walk in</option>
        <option>Cold call</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Date of Birth</label>
                    <div class="control">
                        <input class="input" type="date" v-model="dob">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='personal-details'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form  v-if="tab === 'personal-details'">
                <div class="field">
                    <label class="label">Interest</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Interest" v-model="interest">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Fitness Goal</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Fitness Goal" v-model="fitnessGoal">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Height</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Height" v-model="height">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Weight</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Weight" v-model="weight">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Diet</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Diet" v-model="diet">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Health Problem</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Health Problem" v-model="healthProblem">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='add-package'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form  v-if="tab === 'add-package'">
                <div class="field">
                    <label class="label">Select Membership Type</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="packageType">
        <option>Select Membership Type</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Select Package</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="pckg">
        <option>Select Package</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Select a Coupon Code</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="coupon">
        <option>Select a Coupon Code</option>
      </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Additional Discount</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Additional Discount" v-model="additionalDiscount">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Assign a Trainer</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Assign a Trainer">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Activation Date</label>
                    <div class="control">
                        <input class="input" type="date" v-model="activation">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='payment'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form @submit.prevent="updateMember" v-if="tab === 'payment'">
                <div class="field">
                    <label class="label">Select Payment Mode</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="payMode" @change="paymentModeChanged">
        <option>Card</option>
        <option>Cash</option>
        <option>Cheque</option>
      </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Date of Payment</label>
                    <div class="control">
                        <input class="input" type="date" v-model="payDate">
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{paymentTypeNumber}}</label>
                    <div class="control">
                        <input class="input" type="text" :placeholder="paymentTypeNumber" v-model="payReference">
                    </div>
                </div>
                     <input class="input" type="text" v-model="leadId" hidden>
                     <input class="input" type="text" v-model="storyId" hidden>

                <div class="field">
                    <div class="control">
                        <button class="button submit-button" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {},
  data() {
    return {
      tab: 'basic-details',
      payMode: 'Card',
      paymentTypeNumber: 'Reference Number',
      scrollable: true,
      email: '',
      phone: '',
      name: '',
      gender: '',
      source: '',
      asignee: '',
      leadId: '',
      storyId: '',
      payMode: '',
      payDate: '',
      payReference: '',
      packageType: '',
      pckg: '',
      coupon: '',
      additionalDiscount: '',
      activation: '',
      interest: '',
      fitnessGoal: '',
      height: '',
      weight: '',
      diet: '',
      healthProblem: '',
      dob: '',
      lead: {}
    };
  },
  methods: {
    beforeOpen(event) {
      console.log('helkalk' + JSON.stringify(event.params.member));
      this.email = event.params.member.email;
      this.name = event.params.member.name;
      this.phone = event.params.member.phone;
      this.gender = event.params.member.gender;
      this.source = event.params.member.source;
      this.asignee = event.params.member.asignee;
      this.leadId = event.params.member._id;
      this.storyId = event.params.member.story._id;
      this.lead = event.params.member;
    },
    async updateMember() {
      try {
        this.$modal.hide('convert-member-form-modal');
        console.log('Sent' + this.name);
        const { data } = await this.$axios.$post('/api/member', {
          email: this.email,
          phone: this.phone,
          name: this.name,
          gender: this.gender,
          source: this.source,
          payMode: this.payMode,
          payDate: this.payDate,
          payReference: this.payReference,
          packageType: this.packageType,
          pckg: this.pckg,
          coupon: this.coupon,
          additionalDiscount: this.additionalDiscount,
          activation: this.activation,
          interest: this.interest,
          fitnessGoal: this.fitnessGoal,
          height: this.height,
          weight: this.weight,
          diet: this.diet,
          healthProblem: this.healthProblem,
          dob: this.dob,
          leadId: this.leadId,
          storyId: this.storyId
        });
        console.log(data.member);
        this.$store.commit('lead/deleteLead', this.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    },
    paymentModeChanged() {
      if (this.payMode === 'Card') {
        this.paymentTypeNumber = 'Reference Number';
      } else if (this.payMode === 'Cash') {
        this.paymentTypeNumber = 'Reciept Number';
      } else {
        this.paymentTypeNumber = 'Cheque Number';
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.tabs {
  li a {
    color: white;
    &:hover {
      background-color: $lightOrange;
    }
  }
  li.is-active a {
    background-color: $lightOrange;
    border-color: $lightOrange;
  }
}

.box {
  border: 0;
  box-shadow: none;
  background-color: $extraDarkGrey;
}

.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
