<template>
<modal name="delete-fitness-goal-modal" @before-open="beforeOpen">
    <div class="delete-lead">
        <div class="modal-close-button">
            <a @click.stop="$modal.hide('delete-fitness-goal-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        <div class="has-text-centered">
            <div class="modal-heading">
                <p>Are you sure you want to delete the fitness goal option?</p>
            </div>
            <div class="modal-buttons">
                <div><a @click.stop="deleteFitnessGoal" class="button">Delete</a></div>
            <div><a @click.stop="$modal.hide('delete-fitness-goal-modal')">Cancel</a></div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
export default {
  data: function() {
    return {
      fitnessGoal: {}
    };
  },
  methods: {
    beforeOpen(event) {
      this.fitnessGoal = event.params.fitnessGoal;
    },
    async deleteFitnessGoal() {
      try {
        this.$modal.hide('delete-fitness-goal-modal');
        const { data } = await this.$axios.$delete(
          '/api/fitnessgoal/' + this.fitnessGoal._id
        );
        this.$store.commit('member/deleteFitnessGoal', data.fitnessgoal);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 404) {
          throw new Error('No Record Found');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.delete-lead {
  padding: 3em;
  * {
    color: white;
  }
  .modal-close-button {
    display: flex;
    justify-content: flex-end;
  }
  .modal-heading {
    margin-bottom: 2em;
  }
  .modal-buttons {
    display: flex;
    flex-direction: column;
    :first-child {
      margin-bottom: 0.4em;
    }
    .button {
      background-color: $lightOrange;
      border: 0;
      &:hover {
        color: #efefef;
      }
    }
    :last-child a {
      text-decoration: underline;
      &:hover {
        color: #efefef;
      }
    }
  }
}
</style>
