<template>
<modal name="delete-lead-stage-modal" @before-open="beforeOpen">
    <div class="delete-lead">
        <div class="modal-close-button">
            <a @click.stop="$modal.hide('delete-lead-stage-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        <div class="has-text-centered">
            <div class="modal-heading">
                <p>Are you sure you want to delete the lead stage?</p>
            </div>
            <div class="modal-buttons">
                <div><a @click.stop="deleteLeadSource" class="button">Delete</a></div>
            <div><a @click.stop="$modal.hide('delete-lead-stage-modal')">Cancel</a></div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
export default {
  props: {},
  data: function() {
    return {};
  },
  methods: {
    beforeOpen(event) {
      /* 
      this.leadSource = event.params.leadSource; */
    }
    /* async deleteCoupon() {
      try {
        this.$modal.hide("delete-lead-modal");
        const { data } = await this.$axios.$delete(
          "/api/lead/" + this.lead._id
        );
        this.$emit("leadDeleted", data.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 404) {
          throw new Error("No Record Found");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    } */
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.delete-lead {
  padding: 3em;
  * {
    color: white;
  }
  .modal-close-button {
    display: flex;
    justify-content: flex-end;
  }
  .modal-heading {
    margin-bottom: 2em;
  }
  .modal-buttons {
    display: flex;
    flex-direction: column;
    :first-child {
      margin-bottom: 0.4em;
    }
    .button {
      background-color: $lightOrange;
      border: 0;
      &:hover {
        color: #efefef;
      }
    }
    :last-child a {
      text-decoration: underline;
      &:hover {
        color: #efefef;
      }
    }
  }
}
</style>
