<template>
<modal name="edit-lead-source-modal" :scrollable="scrollable"   height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Edit Lead Source</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('edit-lead-source-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="editLeadSource">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Title" v-model="title">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('edit-lead-source-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  data() {
    return {
      scrollable: true,
      title: '',
      id: ''
    };
  },
  methods: {
    beforeOpen(event) {
      this.title = event.params.leadSource.source;
      this.id = event.params.leadSource._id;
    },
    async editLeadSource() {
      try {
        this.$modal.hide('edit-lead-source-modal');
        const { data } = await this.$axios.$put('/api/leadsource/' + this.id, {
          source: this.title
        });
        this.$store.commit('lead/editLeadSources', data.leadsource);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  },
  computed: {
    leadSourceValue() {
      return this.title
        .toLowerCase()
        .replace(/\s/g, '-')
        .replace(/---/g, '-')
        .replace(/--/g, '-');
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
