<template>
<modal name="edit-lead-form-modal" :scrollable="scrollable" height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Edit {{formType}} Details</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('edit-lead-form-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="updateLead">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="Email" v-model="email">
                </div>
            </div>
            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Phone" v-model="phone">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name"  v-model="name">
                </div>
            </div>           

            <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                    <div class="select" >
                        <select v-model="gender">
        <option >Male</option>
        <option >Female</option>
      </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Source</label>
                <div class="control">
                    <div class="select">
                        <select v-model="source">
        <option v-for="sou in sources" :key="sou._id" :value="sou.source">{{sou.source}}</option>
      </select>
                    </div>
                </div></div>
            <div class="field">
                <label class="label">Assigned to</label>
                <div class="control">
                    <div class="select">
                        <select v-model="asignee">
        <option>Bhuvan Kumar</option>
        <option>Chris Dell</option>
      </select>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('edit-lead-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {
    formType: String
  },
  data() {
    return {
      scrollable: true,
      email: '',
      name: '',
      phone: '',
      gender: '',
      source: '',
      asignee: '',
      id: '',
      sources: []
    };
  },
  async mounted() {
    try {
      const { data } = await this.$axios.$get('/api/leadsource');
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      this.sources = data.leadsources;
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    beforeOpen(event) {
      this.email = event.params.lead.email;
      this.name = event.params.lead.name;
      this.phone = event.params.lead.phone;
      this.gender = event.params.lead.gender;
      this.source = event.params.lead.source;
      this.asignee = event.params.lead.asignee;
      this.id = event.params.lead._id;
    },
    async updateLead() {
      try {
        this.$modal.hide('edit-lead-form-modal');
        const { data } = await this.$axios.$put('/api/lead/' + this.id, {
          email: this.email,
          phone: this.phone,
          name: this.name,
          gender: this.gender,
          source: this.source
        });
        console.log(data);
        this.$store.commit('lead/editLead', data.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 404) {
          throw new Error('No Record Found');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
