<template>
<modal name="edit-package-modal" :scrollable="scrollable" height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Edit Package</p>
            <div class="modal-close-button">
                <a @click.stop="$modal.hide('edit-package-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
            </div>
        </div>
        <form @submit.prevent="editPackage">
            <div class="field">
                <label class="label">Package Name</label>
                <div class="control">
                    <input class="input" type="text" v-model="name" placeholder="Package Name">
                </div>
            </div>
            <div class="field">
                <label class="label">Cost of the Package</label>
                <div class="control">
                    <input class="input" type="text" v-model="cost" placeholder="Cost of the PackageName">
                </div>
            </div>
            <div class="field">
                <label class="label">Package Duration(In months)</label>
                <div class="control">
                    <input class="input" type="text" v-model="duration" placeholder="Package Duration(In months)">
                </div>
            </div>
            <div class="field">
                <label class="label">Validity (From)</label>
                <div class="control">
                    <input class="input" type="date" v-model="validityFrom" placeholder="Validity (From)">
                </div>
            </div>
            <div class="field">
                <label class="label">Validity (To)</label>
                <div class="control">
                    <input class="input" type="date" v-model="validityTo" placeholder="Validity (To)">
                </div>
            </div>
            <div class="field">
                <label class="label">Activities</label>
                <div class="control">
                    <input class="input" type="text" v-model="activities" placeholder="Activities">
                </div>
            </div>
            <!-- <div class="field">
                <label class="label">Assigned Trainer</label>
                <div class="control">
                    <input class="input" type="text" v-model="trainer" placeholder="Assigned Trainer">
                </div>
            </div> -->
            <div class="field">
                <label class="label">Max Discount</label>
                <div class="control">
                    <input class="input" type="text" v-model="maxDiscount" placeholder="Max Discount">
                </div>
            </div>
            <div class="field">
                <label class="label">Flat/Percentage</label>
                <div class="control">
                    <input class="input" type="text" v-model="discountType" placeholder="Flat/Percentage">
                </div>
            </div>
            <div class="field">
                <label class="label">Freezable</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" v-model="freezable" value="true">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" v-model="freezable" value="false">
                        No
                    </label>
                </div>
            </div>
            <div class="field">
                <label class="label">Transferrable</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" v-model="transferrable" value="true">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" v-model="transferrable" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" v-model="description" placeholder="Enter Package Description..."></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('edit-package-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      name: '',
      cost: '',
      duration: '',
      validityFrom: '',
      validityTo: '',
      activities: '',
      /* trainer: '', */
      maxDiscount: '',
      discountType: '',
      freezable: '',
      transferrable: '',
      description: '',
      id: ''
    };
  },
  methods: {
    beforeOpen(event) {
      console.log(event.params.package);
      this.name = event.params.package.pkgName;
      this.cost = event.params.package.cost;
      this.duration = event.params.package.duration;
      this.validityFrom = this.$moment(
        event.params.package.validityFrom
      ).format('YYYY-MM-DD');
      this.validityTo = this.$moment(event.params.package.validityTo).format(
        'YYYY-MM-DD'
      );
      this.activities = event.params.package.activities;
      this.maxDiscount = event.params.package.maxDiscount;
      this.discountType = event.params.package.percentage;
      this.freezable = event.params.package.freezable;
      this.transferrable = event.params.package.transferrable;
      this.description = event.params.package.desc;
      this.id = event.params.package._id;
    },
    async editPackage() {
      try {
        this.$modal.hide('edit-package-modal');
        const { data } = await this.$axios.$put('/api/package/' + this.id, {
          pkgName: this.name,
          cost: this.cost,
          duration: this.duration,
          validityFrom: this.validityFrom,
          validityTo: this.validityTo,
          activities: this.activities,
          maxDiscount: this.maxDiscount,
          percentage: this.discountType,
          freezable: this.freezable,
          transferrable: this.transferrable,
          desc: this.description
        });
        console.log(data);
        this.$store.commit('package/editPackage', data.pkg);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
