<template>
<modal name="edit-discount-coupon-modal" :scrollable="scrollable" height="auto" @before-open="beforeOpen">
  <div class="lead-form">
    <div class="modal-heading">
      <p>Add New Discount Coupon</p>
      <div class="modal-close-button">
        <a @click.stop="$modal.hide('edit-discount-coupon-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
      </div>
    </div>
    <form @submit.prevent="editCoupon">
      <div class="field">
        <label class="label">Coupon Code</label>
        <div class="control">
          <input class="input" type="text" v-model="couponCode" placeholder="Coupon Code">
        </div>
      </div>
      <div class="field">
        <label class="label">Discount Type</label>
        <div class="control">
          <div class="select">
            <select v-model="discountType">
        <option v-for="mem in memTypes" :key="mem._id" :value="mem.slug">{{mem.memberType}}</option>
      </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Discount Value</label>
        <div class="control">
          <input class="input" type="text" v-model="discountValue" placeholder="Discount Value">
        </div>
      </div>
      <div class="field">
        <label class="label">Validity (From)</label>
        <div class="control">
          <input class="input" type="date" v-model="validityFrom" placeholder="Validity (From)">
        </div>
      </div>
      <div class="field">
        <label class="label">Validity (To)</label>
        <div class="control">
          <input class="input" type="date" v-model="validityTo" placeholder="Validity (To)">
        </div>
      </div>


      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" v-model="description" placeholder="Enter Discount Coupon Description..."></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <a class="button is-text cancel-button" @click.stop="$modal.hide('edit-discount-coupon-modal')">Cancel</a>
        </div>
        <div class="control">
          <button class="button submit-button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {
    coupon: Object
  },
  data() {
    return {
      scrollable: true,
      couponCode: '',
      discountType: '',
      discountValue: '',
      validityFrom: '',
      validityTo: '',
      description: '',
      memTypes: [],
      id: ''
    };
  },
  async mounted() {
    try {
      const { data } = await this.$axios.$get('/api/membershiptype');
      //console.log(JSON.stringify(data));
      //this.leadSourceFields = data.leadsources;
      console.log(data);
      this.memTypes = data.membershiptypes;
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    beforeOpen(event) {
      this.id = event.params.coupon._id;
      this.couponCode = event.params.coupon.code;
      this.discountType = event.params.coupon.membershipType;
      this.discountValue = event.params.coupon.couponValue;
      this.validityFrom = this.$moment(event.params.coupon.validFrom).format(
        'YYYY-MM-DD'
      );
      this.validityTo = this.$moment(event.params.coupon.validTo).format(
        'YYYY-MM-DD'
      );
      this.description = event.params.coupon.desc;
    },
    async editCoupon() {
      try {
        this.$modal.hide('edit-discount-coupon-modal');
        const { data } = await this.$axios.$put('/api/coupon/' + this.id, {
          code: this.couponCode,
          membershipType: this.discountType,
          couponValue: this.discountValue,
          validFrom: this.validityFrom,
          validTo: this.validityTo,
          desc: this.description
        });
        console.log(data);
        this.couponCode = '';
        this.discountType = '';
        this.discountValue = '';
        this.validityFrom = '';
        this.validityTo = '';
        this.description = '';
        this.$store.commit('coupon/editCoupon', data.coupon);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
