<template>
<modal name="follow-up-form-modal"  :scrollable="scrollable"  height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Follow-Up Details</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('follow-up-form-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="addFollowUp">
            <div class="field">
                <label class="label">Lead Status</label>
                <div class="control">
                    <input class="input" type="text" v-model="status" placeholder="Lead Status">
                </div>
            </div>
            <div class="field">
                <label class="label">Lead Stage</label>
                <div class="control">
                    <input class="input" type="text" v-model="stage" placeholder="Lead Stage">
                </div>
            </div>
            <div class="field">
                <label class="label">Lead Substage</label>
                <div class="control">
                    <input class="input" type="text" v-model="subStage" placeholder="Lead Substage">
                </div>
            </div>           
            <div class="field">
                <label class="label">Lead Style</label>
                <div class="control">
                    <input class="input" type="text" v-model="style" placeholder="Lead Style">
                </div>
            </div>           
            <div class="field">
                <label class="label">FollowUp Date</label>
                <div class="control">
                    <input class="input" type="date" v-model="followUp">
                </div>
            </div>           
            <div class="field">
                <label class="label">Trial Date</label>
                <div class="control">
                    <input class="input" type="date" v-model="trial">
                </div>
            </div>           
            <div class="field">
  <label class="label">Note</label>
  <div class="control">
    <textarea class="textarea" placeholder="Please enter a Note, If Any..." v-model="note"></textarea>
  </div>
</div>
            

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('follow-up-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from '~/plugins/eventBus.js';
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      status: '',
      stage: '',
      subStage: '',
      style: '',
      followUp: '',
      trial: '',
      note: '',
      id: ''
    };
  },
  methods: {
    beforeOpen(event) {
      this.status = event.params.lead.status;
      this.stage = event.params.lead.stage;
      this.subStage = event.params.lead.subStage;
      this.style = event.params.lead.style;
      this.followUp = event.params.lead.followUp;
      this.trial = event.params.lead.trial;
      this.note = event.params.lead.note;
      this.id = event.params.lead._id;
    },
    async addFollowUp() {
      try {
        this.$modal.hide('follow-up-form-modal');
        console.log('Sent');
        const { data } = await this.$axios.$put('/api/lead/' + this.id, {
          status: this.status,
          stage: this.stage,
          subStage: this.subStage,
          style: this.style,
          followUp: this.followUp,
          trial: this.trial,
          note: this.note
        });
        console.log(data);
        this.$store.commit('lead/editLead', data.lead);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
