<template>
<modal name="reset-password-modal" :scrollable="scrollable"   height="auto">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Reset Password</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('reset-password-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form action="">
            <div class="field">
  <div class="control">
      <label class="label">New Password</label>
    <input class="input" type="password" placeholder="New Password">
  </div>
</div>
            <div class="field">
  <div class="control">
      <label class="label">Confirm New Password</label>
    <input class="input" type="password" placeholder="Confirm New Password">
  </div>
</div>           


            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('reset-password-modal')">Cancel</a>
                </div>
                <div class="control">
                    <a class="button submit-button">Submit</a>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      scrollable: true
    };
  },
  methods: {}
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
