<template>
<modal name="update-staff-form-modal"  :scrollable="scrollable"  height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Update Staff</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('update-staff-form-modal')">
                    <i class="material-icons">
            close
            </i>
            </a>
        </div>
        </div>
        <form @submit.prevent="editStaff">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="Email" v-model="email">
                </div>
            </div>
            <div class="field">
                <label class="label">Mobile Number</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Mobile" v-model="phone">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name" v-model="name">
                </div>
            </div>           

            <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                    <div class="select" >
                        <select v-model="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
                    </div>
                </div>
            </div>
            <div class="field">
                    <label class="label">Birth Date</label>
                    <div class="control">
                        <input class="input" type="date" v-model="dob">
                    </div>
                </div>
            <div class="field">
                <label class="label">Role</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Role" v-model="role">
                </div>
            </div>
            <div class="field">
                <label class="label">Specialization</label>
                <div class="control">
                  <div class="select">
                        <select v-model="specialization" >
        <option v-for="spec in staffSpecs" :key="spec._id" :value="spec.special">{{spec.special}}</option>
      </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Photo</label>
                <div class="control">
                    <input class="file" ref="photo" type="file" @change="uploadPhoto">
                </div>
            </div>
            <!-- <div class="field">
                <label class="label">Reporting Manager</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Reporting Manager" v-model="reportingManager">
                </div>
            </div> -->
            

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('update-staff-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Update Staff</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
export default {
  data() {
    return {
      scrollable: true,
      email: '',
      name: '',
      phone: '',
      gender: '',
      dob: '',
      photoId: '',
      role: '',
      specialization: '',
      staffSpecs: [],
      id: ''
    };
  },
  async mounted() {
    try {
      const { data: staffSpecData } = await this.$axios.$get(
        '/api/specialization'
      );
      //console.log(JSON.stringify(data));
      this.staffSpecs = staffSpecData.specializations;
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error('Wrong credentials');
      }
      if (error.response && error.response.status === 409) {
        throw new Error('Username or Email already exists');
      }
      throw error;
    }
  },
  methods: {
    async uploadPhoto() {
      try {
        const formData = new FormData();
        formData.append('docs', this.$refs.photo.files[0]);
        const { data } = await this.$axios.$post('/api/files', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        });
        this.photoId = data.files._id;
        console.log(JSON.stringify(data));
      } catch (e) {
        console.log(e);
        throw e;
      }
    },
    beforeOpen(event) {
      this.id = event.params.staffDetails.user.trainer._id;
      this.email = event.params.staffDetails.email;
      this.name = event.params.staffDetails.user.full_name;
      this.phone = event.params.staffDetails.phone;
      this.gender = event.params.staffDetails.user.gender;
      this.dob = this.$moment(event.params.staffDetails.user.dob).format(
        'YYYY-MM-DD'
      );
      this.photoId = event.params.staffDetails.user.dp
        ? event.params.staffDetails.user.dp._id
        : '';
      this.role = event.params.staffDetails.user.trainer.role;
      this.specialization =
        event.params.staffDetails.user.trainer.specialization;
    },
    async editStaff() {
      try {
        this.$modal.hide('update-staff-form-modal');
        const { data } = await this.$axios.$put('/api/trainer/' + this.id, {
          email: this.email,
          phone: this.phone,
          name: this.name,
          gender: this.gender,
          dob: this.dob,
          dp: this.photoId,
          role: this.role,
          specialization: this.specialization,
          password: this.password
        });
        console.log(data);
        this.$store.commit('staff/editStaff', data.trainer);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error('Internal Server Error');
        }
        if (error.response && error.response.status === 409) {
          throw new Error('Record Conflict');
        }
        if (error.response && error.response.status === 401) {
          throw new Error('Not Authorized');
        }
        if (error.response && error.response.status === 422) {
          throw new Error('Unprocessable entity');
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '~assets/css/_variables.scss';
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background-color: $lightOrange;
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
