<template>
<div class="login-parent">
  <nuxt/>
</div>
</template>

<script>
export default {
  components: {}
};
</script>
<style lang="scss">
@import "~assets/css/_variables.scss";
.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $bg;
}
</style>
